@{
    var title = "Artemis";
    var userImage = "";
    var userName = "";
    var userPosition = "";
    var userTelefonNummer = "";
    var userEmail = "";

    var userFaxNummer = "";

    var mandantBezeichnung = "";
    var mandantUrl = "";

    var userNiederlassungStrasse = "";
    var userNiederlassungOrt = "";
    var userNiederlassungPlz = "";

    var imageBaseUrl = ViewData["ImageBaseUrl"] as string;
}
<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:w="urn:schemas-microsoft-com:office:word" xmlns:m="http://schemas.microsoft.com/office/2004/12/omml" xmlns="http://www.w3.org/TR/REC-html40">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="Generator" content="Microsoft Word 15 (filtered medium)">
    <style>
        <!--
        /* Font Definitions */
        @@font-face {
            font-family: "Cambria Math";
            panose-1: 2 4 5 3 5 4 6 3 2 4;
        }

        @@font-face {
            font-family: Calibri;
            panose-1: 2 15 5 2 2 2 4 3 2 4;
        }
        /* Style Definitions */
        p.MsoNormal, li.MsoNormal, div.MsoNormal {
            margin: 0cm;
            font-size: 11.0pt;
            font-family: "Calibri",sans-serif;
            mso-fareast-language: EN-US;
        }

        span.E-MailFormatvorlage17 {
            mso-style-type: personal-compose;
            font-family: "Calibri",sans-serif;
            color: windowtext;
        }

        .MsoChpDefault {
            mso-style-type: export-only;
            font-family: "Calibri",sans-serif;
            mso-fareast-language: EN-US;
        }

        @@page WordSection1 {
            size: 612.0pt 792.0pt;
            margin: 70.85pt 70.85pt 2.0cm 70.85pt;
        }

        div.WordSection1 {
            page: WordSection1;
        }
        -->
    </style>
</head>

<body lang="DE" link="#0563C1" vlink="#954F72" style="word-wrap:break-word">
    <div class="WordSection1">
        @RenderBody()
        <p class="MsoNormal"><span style="color:black;mso-fareast-language:DE">Mit freundlichen Grüßen<o:p></o:p></span></p>
        <br>
    </div>
    <p style="FONT-SIZE: 10pt; MARGIN-BOTTOM: 5pt; FONT-FAMILY: ARIAL; MARGIN-TOP: 0pt">
        <table style="WIDTH: 480px" cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <td style="FONT-SIZE: 10pt; FONT-FAMILY: Arial; WIDTH: 480px" valign="top" ;="" COLOR:="" #3d3c3f;="" PADDING-BOTTOM:="" 20px?="">
    <p style="FONT-SIZE: 10pt; FONT-FAMILY: Arial">
        <strong style="COLOR: #3d3c3f">@userName</strong>
        <br>@userPosition
        <br>
        <br><a title="" href="https://www.dieter-tombers.de/"><img border="0" src="/Email/tombers_logo_2021.png" alt="Dieter Tombers GmbH - Ein Unternehmen der Circet"></a>
        <br>
        <br>@userNiederlassungStrasse
        <br>@userNiederlassungPlz @userNiederlassungOrt
        <br>
        @if (true)
        {
            <br><span>Fax:</span>@("TEST")<br>
        }
        <br><a style="COLOR: #000000" href="mailto:@userEmail">@userEmail</a>&nbsp;| <span style="COLOR: #000000">
            <a style="COLOR: #000000" href="https://www.dieter-tombers.de">www.dieter-tombers.de</a>
            <br>
            <br>
            <a class="socialLink" href="https://www.xing.com/pages/dietertombersgmbh"><img class="socialLink" border="0" src="/Email/tombers_xing.png"></a>
            &nbsp;<a class="socialLink" href="https://www.linkedin.com/company/dieter-tombers-gmbh/"><img class="socialLink" border="0" src="/Email/tombers_linkedin.png"></a>
            &nbsp;<a class="socialLink" href="https://de.indeed.com/cmp/dieter-tombers-gmbH"><img class="socialLink" border="0" src="/Email/tombers_indeed.png"></a>
            &nbsp;<a class="socialLink" href="https://www.facebook.com/tomberscircet"><img class="socialLink" border="0" src="/Email/tombers_facebook.png"></a>
            <br>
            <br>Geschäftsführer<br>Daniel Tombers<br><br>Amtsgericht Düsseldorf<br>HRB 59682
        </span>
    </p>
    </td>
    </tr>
    </tbody>
    </table>
    </p>
    <p style="FONT-SIZE: 10pt; MARGIN-BOTTOM: 5pt; FONT-FAMILY: Arial; MARGIN-TOP: 0px"></p>
</body>
</html>
